# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Secrets & Keystores
*.keystore
*.jks
*.p12
*.cer
*.pem
*.lock

# Build Outputs
*.apk
*.aab
*.ap_
*.dex
*.class

# Images (General ignore)
*.jpg
*.jpeg
*.png
*.webp
*.gif

# Exceptions for required images
!**/src/main/res/mipmap*/*.webp
!**/src/main/res/mipmap*/*.png
!**/src/main/fastlane/metadata/android/**/*.png
!**/src/main/fastlane/metadata/android/**/*.jpg

# System & IDE
.idea/
.gradle/
build/
**/build/
*.hprof
*~
*.swp

# Other
test_fetch.py
